[Unit]
Description=GitHub Actions Runner (tejadevsecops.ip-172-31-81-210)
After=network.target

[Service]
ExecStart=/actions-runner/run.sh
User=github-runner
WorkingDirectory=/actions-runner
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=5min

[Install]
WantedBy=multi-user.target